
<div class="container">

    <div class="bg-dark  border-bottom shadow-sm">
        <h2 class="text-white" style="text-align: left;">
            Electro Mobile Mart
        </h2>
        <!-- <div id="dell-global-mbox" class="at-element-marker"></div> -->
        <nav>
           
             <a class="btn btn-outline-primary" routerLink="/register" >Login</a> &nbsp;&nbsp;
            <a class="btn btn-outline-danger" routerLink="/login" >Signup</a>
           
        </nav>
    </div>
    
   
    <br><br>
    
    
    
    <table border="0" width="100%" bgcolor="white" height="50%">
    <tr>
    <td><h2>Oppo Mobile :</h2><hr></td>
    <tr>
    <th><img src="../../assets/Oppo-A53.png" width="70%"/></th>
    <th><img src="../../assets/onezoom.jpg" width="90%"/></th>
    <th><img src="../../assets/one+F15.jpg" width="60%"/></th>
    <th><img src="../../assets/A9.jpeg" width="90%"/></th>
    </tr>
    <tr>
        <th>Oppo A-53</th>
        <th>Oppo A-15</th>
        <th>Oppo A-17</th>
        <th>Oppo A-9</th>
    </tr>
    <tr>
        <th>Price:37999/-</th>
        <th>Price:22999/-</th>
        <th>Price:12999/-</th>
        <th>Price:25999/-</th>

    </tr>

    <tr>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
    </tr>
    </table>
    <br><br><br>
    
    <table border="0" width="100%" bgcolor="white" height="50%">
    <tr>
    <td><h2>Vivo Mobile :</h2><hr></td>
    <tr>
    <th><img src="../assets/vivo X50.jpg" width="90%"/></th>
    <th><img src="../assets/vivo-v17.jpg" width="80%"/></th>
    <th><img src="../assets/vivoY15.jpg" width="90%"/></th>
    <th><img src="../assets/vivoV11.png" width="90%"/></th>
    </tr>
    <tr>
        <th>Vivo X-50</th>
        <th>Vivo V-17</th>
        <th>Vivo Y-15</th>
        <th>Vivo V-11</th>
    </tr>
    <tr>
        <th>Price:37999/-</th>
        <th>Price:22999/-</th>
        <th>Price:12999/-</th>
         <th>Price:25999/-</th>

    </tr>
    <tr>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
    </tr>
    </table>
    <br>  <br><br>
    
    <table border="0" width="100%" bgcolor="white" height="50%">
    <tr>
    <td><h2>Mi:</h2><hr></td>
    <tr>
    <th><img src="../assets/MiA2lite.jpg" width="100%"/></th>
    <th><img src="../assets/MiA3.jpg" width="90%"/></th>
    <th><img src="../assets/MInotepro.jpg" width="80%"/></th>
    <th><img src="../assets/note6pro.jpg" width="90%"/></th>
    </tr>
    <tr>
        <th>Mi A-2</th>
        <th>Mi A-3</th>
        <th>Mi NotePro</th>
        <th>Mi Note6pro</th>
    </tr>
    <tr>
        <th>Price:13960/-</th>
        <th>Price:14999/-</th>
        <th>Price:17749/-</th>
        <th>Price:14540/-</th>

    </tr>
    <tr>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
        <th><button type="Submit" class="btn btn-success">Cart</button></th>
    </tr>
    </table>
    <br><br><br>
    
</div>


    <router-outlet></router-outlet>